.puño {
	background: url('../imagenes/ken.png') 0 -325px;
	height: 165px;
	width: 150px;
	animation: puñoAnimate .2s steps(2);
}

@keyframes puñoAnimate {
	to {
		background-position: -280px -326px;
	}
}

.patada {
	background: url('../imagenes/ken.png') -14px -973px;
	width: 137px;
	animation: patadaAnimate .5s steps(4);
}

@keyframes patadaAnimate {
	to {
		background-position: -560px -973px;
	}
}

.patadaFuerte {
	background: url('../imagenes/ken.png') 0 -1143px;
	width: 146px;
	height: 165px;
	animation: patadaFuerteAnimate steps(5) .5s;
}

@keyframes patadaFuerteAnimate {
	from {
    	background-position: 0 -1143px;
  	}
  	
  	to {
    	background-position: -713px -1143px;
  	}
}

.puño, .patada, .patadaFuerte {
	background-size: 1000px;
}