* {
	margin: 0;
	padding: 0;
}

:root {
	--derechaIzquierda: calc(50% - 20px);
	--moverBola: calc(var(--derechaIzquierda) + 100px);
	--posFinal: 0;
}

body {
	min-height: 99vh;
	/*border: 1px solid blue;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	background: url('../imagenes/bg2.jpg') center -200px;
	/*background-repeat: no-repeat;*/
	width: 99.9%;
	height: 35em;
	border: 1px solid transparent;
	position: relative;
}

.ken {
	position: absolute;
	bottom: 20px;
	left: var(--derechaIzquierda);
	/*border: 4px solid green;*/
	width: 140px;
	height: 170px;
}

.bola {
	position: absolute;
	bottom: 90px;
	/*border: 4px solid orange;*/
	width: 100px;
	height: 70px;
}


.estallido {
	position: absolute;
	bottom: 90px;
	/*border: 4px solid orange;*/
	width: 100px;
	height: 70px;
}