.punioFuego {
	background: url('../imagenes/ken-shoryuken.png') 0 0;
	height: 230px;
	bottom: 200px;
	animation: punioFuegoAnimate .9s steps(7);
}

@keyframes punioFuegoAnimate {
	from {
		background-position: 0 0;
	}


	to {
		bottom: 0px;
		background-position: -980px 0px;
		left: var(--derechaIzquierda);
	}
}

.patadaVoladora {
	background: url('../imagenes/ken-tatsumaki-senpuu-kyaku.png') 0 0px / 1800px;
	height: 220px;
	animation: patadaVoladoraAnimate 1.3s steps(12) infinite;
}

@keyframes patadaVoladoraAnimate {
	from {
		bottom: 120px;
		left: var(--derechaIzquierda);
	}

	to {
		bottom: 0px;
		background-position: -1660px 0;
		left: var(--derechaIzquierda);
	}
}

.kamekameah {
	background: url('../imagenes/ken.png') 0 0;
	height: 160px;
	animation: posKamekameahAnimate .5s steps(3);
}

@keyframes posKamekameahAnimate {
	to {
		background-position: -440px 0;
		left: var(--derechaIzquierda);
	}
}

.bola {
	background: url('../imagenes/ken.png') -140px -680px;
	left: var(--moverBola);
	transition: left .8s ease-in;
	opacity: 1;
}

.bolaMovimiento {
	left: calc(100% - 85px);
	animation: kamekameahAnimate .4s steps(1);
}

@keyframes kamekameahAnimate {
	0%, 85% {
		background-position: 0 -680px;
	}

	90%, 100% {
		background-position: -140px -680px;
	}
}

.estallido {
	background: url('../imagenes/ken.png') 0 -850px;
	animation: estallidoAnimate .5s steps(3) 1;
	left: var(--posFinal);
}

@keyframes estallidoAnimate {
	to {
		background-position: -420px -840px;
	}
}

.punioFuego, .kamekameah, .bola, .estallido {
	background-size: 1000px;
}